<div class="about">
    <h1 class="page-title">Умопомрачительный тест</h1>
    <p class="about__info">
        Добро пожаловать. Вы попали на страничку хорошего настроения и позитива. В этом тесте вас ждет приключения по необычным вопросам и креативным ответам. Он поможет вам расслабиться на работе или просто в свободное время, и принесет вам только положительные эмоции. А также проверит вашу логику и сообразительность. Перед тем как приступить к его выполнению, ознакомьтесь пожалуйста с описание теста, нажав на кнопку вверху.
        <br>Ну что поехали?
    </p>
    {{#if testContinue}}
    <a class="about__btn-start button" href="#/test" >
        Продолжить тест
    </a>
    {{/if}}
    {{#if testStart}}
    <a class="about__btn-start button" href="#/test">
        Начать тест
    </a>
    {{/if}}
</div>

