<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maket</title>
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <script src="https://kit.fontawesome.com/d834bfeeea.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <!--Для выравнивания по центру-->
        <div class="container">
            <div class="header__top">
                <div class="header__logo">
                    <!--То на что пользователь нажимает желательно делать ссылкой-->
                    <a href="#" class="logo">
                        <img src="img/logo.png" alt="logo" class="logo__pit" title="logo">
                    </a>
                </div>
                <div class="header__search">
                    <div class="search">
                        <form action="" class="search__form">
                            <input type="text" class="search__input" placeholder="Поиск">
                            <button type="submit" class="search__submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header__menu">
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__link__text">
                                    Карта проезда
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__link__text">
                                    История заказов
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link menu__link_iconed">
                                <span class="menu__link_icon">
                                <i class="fas fa-shopping-basket"></i>
                                </span>
                                <span class="menu__link__text">
                                    Корзина
                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
            <nav class="nav">
               <ul class="nav__list">
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
   <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Планшеты
                               </span>
                       </a>
                   </li>
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
                               <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Мобильные устройства
                               </span>
                       </a>
                   </li>
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
                                  <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Персональные компьютеры
                               </span>
                       </a>
                   </li>
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
                               <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Ноутбуки
                               </span>
                       </a>
                   </li>
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
                               <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Аксессуары
                               </span>
                       </a>
                   </li>
                   <li class="nav__item">
                       <a href="#" class="nav__link">
                           <span class="nav__ican">
                               <i class="fas fa-tv"></i>
                           </span>
                               <span class="nav_title">
                                  Бытовая техника
                               </span>
                       </a>
                   </li>
               </ul>
            </nav>
        </div>
    </header>
    <section class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">
                        Мобильные устройства
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section-title">
        <div class="container">
            <h1 class="title">
               Мобильное устройство
            </h1>
        </div>
    </section>
    <section class="content-wrapper">
        <div class="container">
            <aside class="sidebar">
                <ul class="categories">
                    <li class="categories__item">
                        <a href="#" class="categories__link">
                            <span class="categories__icon">
                            <i class="fas fa-tv"></i>
                            </span>
                            <span class="categories__text">
                               Мобильные телефоны
                            </span>
                            <div class="categories__amount">
                                85
                            </div>
                        </a>
                    </li>
                    <li class="categories__item">
                        <a href="#" class="categories__link">
                            <span class="categories__icon">
                             <i class="fas fa-tv"></i>
                            </span>
                            <span class="categories__text">
                               Мобильные телефоны
                            </span>
                            <div class="categories__amount">
                                85
                            </div>
                        </a>
                    </li>
                    <li class="categories__item">
                        <a href="#" class="categories__link">
                            <span class="categories__icon">
                             <i class="fas fa-tv"></i>
                            </span>
                            <span class="categories__text">
                               Мобильные телефоны
                            </span>
                            <div class="categories__amount">
                                85
                            </div>
                        </a>
                    </li>
                </ul>

            </aside>
            <!--Динамический контент-->
            <main class="content">
                <ul class="products">
                    <li class="products__item">
                        <div class="products__slideshow">
                            <div class="slideshow__display">
                                <img src="img/phone.jpg" alt="" class="slideshow__display-img">
                            </div>
                            <ul class="slideshow__thumbs">
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="products__desc">
                            <h2 class="products__title">
                                iphone 6s 128gb
                            </h2>
                            <div class="products__desc-content">
                                <ul>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__price">
                            <div class="products__price-inner">

                                <div class="products__price__amount">
                                    76 900 руб.
                                </div>
                                <a href="#" class="products__buy">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__slideshow">
                            <div class="slideshow__display">
                                <img src="img/phone.jpg" alt="" class="slideshow__display-img">
                            </div>
                            <ul class="slideshow__thumbs">
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="products__desc">
                            <h2 class="products__title">
                                iphone 6s 128gb
                            </h2>
                            <div class="products__desc-content">
                                <ul>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__price">
                            <div class="products__price-inner">

                                <div class="products__price__amount">
                                    76 900 руб.
                                </div>
                                <a href="#" class="products__buy">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__slideshow">
                            <div class="slideshow__display">
                                <img src="img/phone.jpg" alt="" class="slideshow__display-img">
                            </div>
                            <ul class="slideshow__thumbs">
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="products__desc">
                            <h2 class="products__title">
                                iphone 6s 128gb
                            </h2>
                            <div class="products__desc-content">
                                <ul>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__price">
                            <div class="products__price-inner">

                                <div class="products__price__amount">
                                    76 900 руб.
                                </div>
                                <a href="#" class="products__buy">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__slideshow">
                            <div class="slideshow__display">
                                <img src="img/phone.jpg" alt="" class="slideshow__display-img">
                            </div>
                            <ul class="slideshow__thumbs">
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="slideshow__thumbs-item">
                                    <a href="#" class="slideshow__thumbs-link">
                                        <img src="img/phon1.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="products__desc">
                            <h2 class="products__title">
                                iphone 6s 128gb
                            </h2>
                            <div class="products__desc-content">
                                <ul>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                    <li>
                                        Диагональ дисплея (дюйм) 5.5
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__price">
                            <div class="products__price-inner">

                                <div class="products__price__amount">
                                    76 900 руб.
                                </div>
                                <a href="#" class="products__buy">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </section>
    <section class="pagination">
        <div class="container">
            <a href="#" class="pagination__control pagination__control_left"></a>
            <ul class="pagination__list">
                <li class="pagination__item">
                    <a href="#" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">3</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">4</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">5</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">6</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">7</a>
                </li>
            </ul>
            <a href="#" class="pagination__control pagination__control_right"></a>
        </div>
    </section>
    <div class="empty"></div>
<footer class="footer">
    <div class="container">
        <div class="footer__address">
            г. Санкт-Петербург. Ленинский проспект.
        </div>
        <div class="footer__copyright">
            @magian.ru
        </div>
    </div>
</footer>
</div>
</body>
</html>