
<div>
   <p class="test__info">
   В данном тесте 10 вопросов.На каждый вопрос вам даются 60 секунд времени, если вы не успели ответить,то автоматический вы переходите на другой вопрос и назад вернутся будет уже нельзя. За  каждыйвопрос вы получается по одному баллу. В конце теста выводится ваш результат с небольшим описанием. <br>Старайтесь не думать глубоко, в нашем тесте в основном ответы находятся на поверхности.
   <br>Удачи вам (^_^)
      </p>
    </div>
</div>