<div class="test-info">
    <p class='test-results'>Ваш результат составляет: {{test.correct}} балла(ов)! </p>
</div>

{{#if result1}}
<div class="description__result">
У вас не высокий результат, но как говорится: “меньше знаешь – крепче спишь”.=)Попробуйте пройти тест еще раз и мы
уверены, что у вас получится лучше. Никогда не сдавайтесь и идите всегда только в перед!!!
 </div>
{{/if}}

{{#if result2}}
<div class="description__result">
Ваша сообразительность и находчивость сразит любого наповал, вы очень креативный и интересный человек. Обладаете
хорошим чувством юмора и стараетесь идти по жизни с улыбкой.Продолжайте в том жедухе!!))
    </div>
{{/if}}

{{#if result3}}
<div class="description__result">
    Здравствуйте Гуру. Вы достигли потрясающих результатов, ваша сообразительность, находчивость
    и интеллектуальные способности просто не дают никому покоя. А иногда его все таки хочется, поэтому не
    забывайте отдыхать и получать удовольствие от жизни!=)
</div>
{{/if}}