<div class = "{{#if buttonBackwards}}backwards{{/if}}">
<header class="header">
    <a class="header__link {{#if isAboutPage}}active{{/if}}" href="/#/">
        Назад
    </a>
    </div>
    {{#if displayNun}}
    <a class="header__link {{#if isTestPage}}active{{/if}}" href="/#/info">
        О тесте
    </a>
    {{/if}}
</header>